<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
</head>
<body>
  <h1>Shipment Placed Successfully!</h1>
  <p>Dear {{ client_name }},</p>
  <p>Your shipment with tracking number <strong>{{ tracking_number }}</strong> from {{seller}} has been successfully placed.</p>
  <p>Estimated Delivery Date: <strong>{{ estimated_delivery }} from {{deliver_partner}} is on its way!</strong></p>
  <p>Thank you for choosing our services!</p>
  <p>Best regards,<br/>The FastLearn Team</p>
</body>
</html>